body {
  font-family:tahoma;font-size:16px; background-color: #eeeeee;
}

hr {
  width:100%;
  border-style:none;
  border-top-style: dotted;
  color:gray;
  border-width:10px;
  margin:0;
}
